$link-checker-font : 'SourceSansPro-Regular';
$card-background : #FFFFFF;
$primary-blue : #1770F9;
$footer-background : #FFFDFD;
$input-border : #C4C4C4;
$input-color : #090909;
$legend-color : #0A1D41;
$form-topic :  #292929;
$paragraph-color : #292929;
$card-title-color :  #0A1D41;
$card-subtitle-color : #292929;
$main-background : #9fb3d126;