@import './colors';
@import './global';


@font-face {
    font-family: 'sourceSansPro-light';
    src: url('../../fonts/SourceSansPro-Light.ttf');
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../../fonts/SourceSansPro-Regular.ttf');
}


body {
      position: relative;
}

header{
background-color: $header-color;

@media only screen and (max-width :992px) {
    text-align: center;
}

    
.header {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 21px;
    padding-right: 21px;
    box-sizing: border-box;

 @media only screen and (max-width: 992px) {
    padding-left: 0px;
    padding-right: 0px;
 }   

    &__link-checker {
    float:left;
    width: 50%;
    color:$link-checker-color;
    font-size: 20px;
    padding: 1.25rem 0rem; 
    box-sizing: border-box;

@media only screen and (max-width: 992px)  {
        width: 100%;
}
   }

    &__link-expire {
    float: right;
    width: 50%;
    color: $link-checker-color;
    padding: 1.25rem 0rem;
    padding-right: 34px;
    box-sizing: border-box;
    text-align: right;

 @media only screen and (max-width : 992px)  {
    text-align: center;
    width: 100%;
    padding: 1.25rem 0 1.25rem 0;
}   
    }
    
}
}

.clearfix::after {
content: "";
clear: both;
display: table;
}

.main-content {
max-width: 1440px;
padding: 25px;
margin: 0 auto;
width: 100%;   
box-sizing: border-box;

@media only screen and (max-width : 992px) {
padding: 35px;
}

 }
main {
    
    background: linear-gradient( #ebf1ffcf 0%, rgba(244, 245, 249, 1) 100%); 
    
}

.clearfix ::after {
    content: "";
    clear: both;
    display: table;
    }
        
.section-one {
    width: 60%;
    float: left;
@media only screen and (max-width :992px) {
    float: none;
    width: 100%;
}
      
    form {
        margin-top: 130px;
        max-width: 558px;
@media only screen and (max-width : 992px) {
        margin-top: 0px;
}
    }
    legend {
        font-family: $link-checker-font;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 46px;
        color: $legend-color;
 @media only screen and (max-width : 992px) {
    legend {
       font-style: normal;
       font-weight: 600;
       font-size: 35px;
       line-height: 46px;
       color:$legend-color;
           }
 }       
}

    &__form-topic{
        font-family: $link-checker-font;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 28px;
        color: $form-topic;
        max-width: 595px;
        }
        
    &__form-label {
        font-family: $link-checker-font;
        margin-top: 72px;
        margin-bottom: 14px;
    }
    
      &__input-one {
          position: relative;
      }
      &__input-two {
          position: relative;
      }
      &__image-one {
          position: absolute;
      }
      &__image-two {
          position: absolute;
      }
      &__image-one {
        filter: grayscale(100%);
        top: 20px;
        right: 20px;
      }

      &__image-two {
        filter: grayscale(100%);
        top: 20px;
        right: 20px;
      }
    input:focus {
        input:focus::after {filter: grayscale(0)}
    }
    
    }
    
input[type="email"] {
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.11em;
color:$input-color;
background: $card-background;
border: 1px solid $input-border;
box-sizing: border-box;
border-radius: 8px;
width: 100%;
max-width: 550px;
height: 60px;
margin-bottom: 40px;
padding: 20px;
letter-spacing: 4px;
outline: none;

  &:hover {
    border: 1px solid $primary-blue;
  }
}

input[type="url"] {
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.11em;
color:$input-color;
background: $card-background;
border: 1px solid $input-border;
box-sizing: border-box;
border-radius: 8px;
width: 100%;
max-width: 550px;
height: 60px;
margin-bottom: 40px;
padding: 20px;
letter-spacing: 4px;
outline: none;

&:hover {
    border: 1px solid $primary-blue;
  }
 
}
input[type="checkbox"] {
background: $card-background;
border: 1px solid $primary-blue;
box-sizing: border-box;
border-radius: 8px;
cursor: pointer;
display: none;
}
input[type="checkbox"] + label {
    font-family: $link-checker-font;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}
input[type="checkbox"] + label:before {
content: "\2713";
border: 1.2px solid  $primary-blue;
border-radius: 2px;
display: inline-block;
width: 1em;
height: 1em;
padding-left: 0.2em;
padding-bottom: 0.3em;
margin-right: 0.75em;
vertical-align: bottom;
color: transparent;
transition: 0.2s;
opacity: 0.35;
@media only screen and (max-width : 992px){
 margin-bottom: 5px;    
}
}

input[type="checkbox"]:checked + label:before {
background-color: $primary-blue;
border-color:  $primary-blue;
color: $card-background;
opacity: 0.9;
  }
input[type="checkbox"] + label:active:before {
transform: scale(0);
  }

label{
    cursor: pointer;
}

input[type="submit"] {
background: $card-background;
border: 1px solid $primary-blue;
box-sizing: border-box;
border-radius: 8px;
cursor: pointer;
}

input[name="submit"] {
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
letter-spacing: .11em;
text-transform: uppercase;
color: $primary-blue;
padding: 20px 67px 20px 60px;
box-sizing: border-box;
outline: none;
margin-top: 26px;
}
::-webkit-input-placeholder {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.11em;
    color: #090909;
    opacity: 0.3;   
}

.modelcontent {
text-align:center;
background: $card-background;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
border-radius: 8px;
}
   
.model-Title {
font-style: normal;
font-weight: 300;
line-height: 54px;
text-align: center;
color: $legend-color;
 }

.model-Subtitle {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.modelcontent {
text-align: center;
background: $card-background;
-webkit-box-shadow: 0 4px 10px rgba(0,0,0,.05);
box-shadow: 0 4px 10px rgba(0,0,0,.05);
border-radius: 8px;
position: absolute;
width: 100%;
max-width: 816px;
left: calc(50% - 408px);
top: calc(50% - 151px) !important;
z-index: 1;
padding: 10px;
}

.model-background {
width: 100%;
height: 100%;
position: fixed;
background-color: rgba(10,10,10,0.6);
}

.section-two {
width: 40%;
float: left;
@media only screen and (max-width :992px) {
width:100%;
margin: 0 auto;
margin-top: 37px !important;
margin-bottom: 12px !important;
}

.card__margin-one {
    margin-top: 102px;
    margin-left: 18px;
@media only screen and (max-width : 992px) {
    margin-left: 0px;
    margin-top: 0px;
}    

}

.card__margin-two {
margin-top: 167px;
margin-left: 32px;
@media only screen and (max-width : 992px) {
    margin-top: 37px;
    margin-left: 0px;
}
}
.card__margin-three {
    margin-top: -44px;
    margin-left: 18px;
@media only screen and (max-width :992px) {
    margin-top: 37px;
    margin-left: 0px;
    margin-right: 0px;
}    
}
.card__margin-four {
    margin-top: 36px;
    margin-left: 36px;
    margin-bottom: 117px;
@media only screen and (max-width : 992px) {
    margin-left: 0px;
    margin-top: 37px;
    margin-bottom: 37px;
}    
}
}

.section-three {
    width: 50%;
    float: left;
    background: $card-background;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    width: calc(50% - 25px);
@media only screen and (max-width :992px){
    width: 100%;
    margin-bottom: 50px;    
}    
 
h1 {
    font-family: $link-checker-font ;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: 
    $legend-color;
    }
    
    h3 {
    font-family:'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: $primary-blue;
    padding-top: 15px;
    padding-bottom: 7px;
    }
    
p {
    font-family: 'SourceSansPro-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: $paragraph-color;
    }   

    padding: 25px 25px 71px 25px;
    box-sizing: border-box;

   img {
      width: 100%;
   }
}

.margin-r49 {
    margin-right: 49px;
    margin-bottom: 50px;
@media only screen and (max-width : 992px) {
    margin-right: 0px;
}    
}

.mr-bottom {
    @media only screen and (max-width :992px){
        margin-bottom: 0;
    }    
    }
.background3-4{
background: $card-background;
box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.8);
border-radius: 8px;
}
.section-four {
    width: 50%;
    float: left;
}
.card {
background: $card-background;

border-radius: 8px;
}
.card-floats {
    padding: 10px;
    width: calc(45% - 14px);
    float: left;
    max-width: 277px;
    box-sizing: border-box;

@media only screen and (max-width : 992px) {
    width:100% ;
    max-width:100%;
    text-align: center;
}    
}
.card {
    img {
        padding-left: 26px;
        padding-top: 32px;
    }
}

.card {

    @media only screen and (max-width :992px){
        text-align: center;
     img {
         padding-left: 0;
     }   
    }

    &__title {
        font-family: 'SourceSansPro-Regular';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: $card-title-color;
        width: 100%;
        max-width: 255px;
        padding-left: 26px;
        padding-top: 20px;
        padding-bottom: 10px;
        box-sizing: border-box;
    @media only screen and (max-width : 992px){
    width: 100%;
    max-width: 100%;
    padding-left: 0;

   
    }    
    }

    &__subtitle {
        font-family: 'sourceSansPro-light' ;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        color: $card-subtitle-color;
        max-width: 245px;
        box-sizing: border-box;
        padding-left: 26px;
        padding-bottom: 25px;
        opacity: 0.8;
    @media only screen and (max-width : 992px){  
        max-width: 100%; 
        padding-left: 0;
    }    
    }
}

strong {
    font-weight: 600;
}

.card-title {
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 26px;
color: $card-title-color;
}

footer {
background: $card-background;
}

.footer-section {
    max-width: 1440px;
    margin: 0 auto;
@media only screen and (max-width :992px){
    text-align: center;
    width: 100%;
}    
    &__left{
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding-left: 25px;
    @media only screen and (max-width :992px) {
        float: none;
        width: 100%;
        text-align: center;
        padding-left: 0;
    }    
    }

    &__right {
        float: left;
        width: 50%;
        text-align: right; 
        box-sizing: border-box;
        padding-right: 25px; 
        padding-top: 6px;
    @media only screen and (max-width : 992px) {
        float: none;
        width: auto;
        text-align: center;
        display: block;
        padding-top: 10px;
        padding-right: 0px;
    }    
      }

    a{  
        font-family: 'SourceSansPro-Regular';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
        text-decoration: none;
        color: rgba(0,0,0,.5);
        display: inline-block;
        padding-top: 36px;
    }
    .policy {
        margin-left: 48px;
    @media  only screen and (max-width : 992px) {
        margin-left: 0;
      }    
  }
    
}

.footer-section__left {

    &__align-copyright{
        font-family: 'SourceSansPro-Regular';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;   
        color: rgba(0, 0, 0, 0.5);
        padding-top: 26px;
        padding-bottom: 10px; 
    @media only screen and (max-width : 992px) {
        padding-top: 0px !important;
        padding-bottom: 10px;
        width: auto;
        float: none;
    }     
}

    &__align-company {
        font-family: 'SourceSansPro-Regular';
        padding-top: 2px;
        padding-bottom: 26px;
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px; 
        color: rgba(0, 0, 0, 0.5);
    @media only screen and (max-width : 992px) {
        width: auto;
        float: none;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
       }    
    }
}

.footer-section__right{
 @media only screen and (max-width :992px){
    a{
        text-decoration: none;
       color: rgba(0,0,0,.5);
       font-style: normal;
       font-size: 14px;
       line-height: 28px;
       display: block;
       padding-top: 2px;
    }
    a{
        display: block;
        width: auto;
        float: none;
    }
  }   
}

input::after {
    content:"" !important;
    position: absolute;
    background-image: url('https://linkchecker.netlify.app/day-9/images/input-message.jpg');
}

input {
    position: relative;
}

